{% extends "layouts/base.html" %}

{% block title %} Forms {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">CT Equipment Performance Evaluation</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form method="POST" action="/ct_protocol">
                        {% csrf_token %}
                    <div class="card-header">
                        <div class="card-title">CT Protocol Review</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 col-lg-3">
                                <label class="mt-3 mb-3"><b>Adult Head ------------------------------------</b></label>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="fac-prot-ah">Facility Protocol</label>
                                    <input type="text" class="form-control" name="fac-prot-ah" id="fac-prot-ah" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="t_1">kVp</label>
                                    <input type="text" class="form-control" name="t_1" id="t_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="measured_1">Rotation Time</label>
                                    <input type="text" class="form-control" name="measured_1" id="measured_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="nom_1">Effective mAs</label>
                                    <input type="text" class="form-control" name="nom_1" id="nom_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="min_1">Detector Width</label>
                                    <input type="text" class="form-control" name="min_1" id="min_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1"># Detectors</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Axial or Helical</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Pitch</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Scan FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Dose Reduction</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Settings</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Kernel</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Width</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Interval</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Display FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">CTDI vol</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Notification Value</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Reference</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Pass/Fail</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                            </div>
                            <div class="col-lg-3 col-lg-3">
                                <label class="mt-3 mb-3"><b>Adult Abdomen -------------------------------</b></label>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="fac-prot-aa">Facility Protocol</label>
                                    <input type="text" class="form-control" name="fac-prot-aa" id="fac-prot-aa" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="t_1">kVp</label>
                                    <input type="text" class="form-control" name="t_1" id="t_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="measured_1">Rotation Time</label>
                                    <input type="text" class="form-control" name="measured_1" id="measured_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="nom_1">Effective mAs</label>
                                    <input type="text" class="form-control" name="nom_1" id="nom_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="min_1">Detector Width</label>
                                    <input type="text" class="form-control" name="min_1" id="min_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1"># Detectors</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Axial or Helical</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Pitch</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Scan FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Dose Reduction</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Settings</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Kernel</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Width</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Interval</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Display FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">CTDI vol</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Notification Value</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Reference</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Pass/Fail</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                            </div>
                            <div class="col-lg-3 col-lg-3">
                                <label class="mt-3 mb-3"><b>CT Chest WO ---------------------------------</b></label>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="fac-prot-cc">Facility Protocol</label>
                                    <input type="text" class="form-control" name="fac-prot-cc" id="fac-prot-cc" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="t_1">kVp</label>
                                    <input type="text" class="form-control" name="t_1" id="t_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="measured_1">Rotation Time</label>
                                    <input type="text" class="form-control" name="measured_1" id="measured_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="nom_1">Effective mAs</label>
                                    <input type="text" class="form-control" name="nom_1" id="nom_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="min_1">Detector Width</label>
                                    <input type="text" class="form-control" name="min_1" id="min_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1"># Detectors</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Axial or Helical</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Pitch</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Scan FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Dose Reduction</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Settings</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Kernel</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Width</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Interval</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Display FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">CTDI vol</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Notification Value</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Reference</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Pass/Fail</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                            </div>
                            <div class="col-lg-3 col-lg-3">
                                <label class="mt-3 mb-3"><b>Chest w Embolus -----------------------------</b></label>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="fac-prot-ce">Facility Protocol</label>
                                    <input type="text" class="form-control" name="fac-prot-ce" id="fac-prot-ce" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="t_1">kVp</label>
                                    <input type="text" class="form-control" name="t_1" id="t_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="measured_1">Rotation Time</label>
                                    <input type="text" class="form-control" name="measured_1" id="measured_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="nom_1">Effective mAs</label>
                                    <input type="text" class="form-control" name="nom_1" id="nom_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="min_1">Detector Width</label>
                                    <input type="text" class="form-control" name="min_1" id="min_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1"># Detectors</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Axial or Helical</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Pitch</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Scan FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Dose Reduction</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Settings</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Kernel</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Width</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Interval</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Display FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">CTDI vol</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Notification Value</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Reference</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Pass/Fail</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                            </div>
                            <div class="col-lg-3 col-lg-3">
                                <label class="mt-5 mb-3"><b>C-Spine WO -----------------------------------</b></label>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="fac-prot-cw">Facility Protocol</label>
                                    <input type="text" class="form-control" name="fac-prot-cw" id="fac-prot-cw" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="t_1">kVp</label>
                                    <input type="text" class="form-control" name="t_1" id="t_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="measured_1">Rotation Time</label>
                                    <input type="text" class="form-control" name="measured_1" id="measured_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="nom_1">Effective mAs</label>
                                    <input type="text" class="form-control" name="nom_1" id="nom_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="min_1">Detector Width</label>
                                    <input type="text" class="form-control" name="min_1" id="min_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1"># Detectors</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Axial or Helical</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Pitch</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Scan FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Dose Reduction</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Settings</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Kernel</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Width</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Interval</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Display FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">CTDI vol</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Notification Value</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Reference</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Pass/Fail</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                            </div>
                            <div class="col-lg-3 col-lg-3">
                                <label class="mt-5 mb-3"><b>Sinus WO --------------------------------------</b></label>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="fac-prot-sw">Facility Protocol</label>
                                    <input type="text" class="form-control" name="fac-prot-sw" id="fac-prot-sw" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="t_1">kVp</label>
                                    <input type="text" class="form-control" name="t_1" id="t_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="measured_1">Rotation Time</label>
                                    <input type="text" class="form-control" name="measured_1" id="measured_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="nom_1">Effective mAs</label>
                                    <input type="text" class="form-control" name="nom_1" id="nom_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="min_1">Detector Width</label>
                                    <input type="text" class="form-control" name="min_1" id="min_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1"># Detectors</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Axial or Helical</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Pitch</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Scan FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Dose Reduction</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Settings</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Kernel</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Width</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Interval</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Display FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">CTDI vol</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Notification Value</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Reference</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Pass/Fail</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                            </div>
                            <div class="col-lg-3 col-lg-3">
                                <label class="mt-5 mb-3"><b>Pediatric Head --------------------------------</b></label>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="fac-prot-ph">Facility Protocol</label>
                                    <input type="text" class="form-control" name="fac-prot-ph" id="fac-prot-ph" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="t_1">kVp</label>
                                    <input type="text" class="form-control" name="t_1" id="t_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="measured_1">Rotation Time</label>
                                    <input type="text" class="form-control" name="measured_1" id="measured_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="nom_1">Effective mAs</label>
                                    <input type="text" class="form-control" name="nom_1" id="nom_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="min_1">Detector Width</label>
                                    <input type="text" class="form-control" name="min_1" id="min_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1"># Detectors</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Axial or Helical</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Pitch</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Scan FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Dose Reduction</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Settings</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Kernel</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Width</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Interval</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Display FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">CTDI vol</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Notification Value</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Reference</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Pass/Fail</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                            </div>
                            <div class="col-lg-3 col-lg-3">
                                <label class="mt-5 mb-3"><b>Pediatric Abdomen --------------------------</b></label>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="fac-prot-pa">Facility Protocol</label>
                                    <input type="text" class="form-control" name="fac-prot-pa" id="fac-prot-pa" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="t_1">kVp</label>
                                    <input type="text" class="form-control" name="t_1" id="t_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="measured_1">Rotation Time</label>
                                    <input type="text" class="form-control" name="measured_1" id="measured_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="nom_1">Effective mAs</label>
                                    <input type="text" class="form-control" name="nom_1" id="nom_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="min_1">Detector Width</label>
                                    <input type="text" class="form-control" name="min_1" id="min_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1"># Detectors</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Axial or Helical</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Pitch</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Scan FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Dose Reduction</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Settings</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Kernel</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Width</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Reconstruction Interval</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Display FOV</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">CTDI vol</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">Notification Value</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Reference</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                                <div class="form-group">
                                    <label class="mt-0 mb-0" for="max_1">ACR Pass/Fail</label>
                                    <input type="text" class="form-control" name="max_1" id="max_1" placeholder="Enter Value">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn btn-success">Submit</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
