{% extends "layouts/base.html" %}

{% block title %} Forms {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">CT Daily QC</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form method="POST" action="/technologist_qc">
                        {% csrf_token %}
                    <div class="card-header">
                        <div class="card-title">Daily QC</div>
                        <span>{{daily_message}}</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 col-lg-4">
                                <div class="form-group">
                                    <label for="artifacts_yn">Artifacts</label>
                                    <select class="form-control form-control" name="artifacts_yn" id="artifacts_yn">
                                        <option></option>
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                    <input type="text" class="form-control" name="artifacts_comments" id="artifacts_comments" placeholder="Comments (if yes)">
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label for="p_f">Pass/Fail</label>
                                    <select class="form-control form-control" name="p_f" id="p_f">
                                        <option></option>
                                        <option>Pass</option>
                                        <option>Fail</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="warm_up" id="warm_up" value="Y">
                                    <span class="form-check-sign" style="color:#ffffff;font-weight: normal;">Warm Up</span>
                                </label>
                                <br/>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="air_cals" id="air_cals" value="Y">
                                    <span class="form-check-sign" style="color:#ffffff;font-weight: normal;">Air Cals</span>
                                </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header">
                        <div class="card-title">
                            Monthly QC
                            <input style="float:right;width:20px;height:20px;" class="form-check-input" type="checkbox" name="monthly" id="monthly" value="monthly">
                            <small style="float:right;width:320px;" class="form-text text-muted">If filling in the monthly form, please check this box.</small>
                        </div>
                        <span>{{monthly_message}}</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 col-lg-4">
                                <div class="h3" style="color:#ffffff;">Gantry</div>
                                <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="gantry_th" id="gantry_th" value="Y">
                                    <span class="form-check-sign" style="color:#ffffff;font-weight: normal;">Table Height Indicator Functioning</span>
                                </label>
                                <br/>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="gantry_tp" id="gantry_tp" value="Y">
                                    <span class="form-check-sign" style="color:#ffffff;font-weight: normal;">Table Position Indicator Functioning</span>
                                </label>
                                <br/>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="gantry_ai" id="gantry_ai" value="Y">
                                    <span class="form-check-sign" style="color:#ffffff;font-weight: normal;">Angulation indicator functioning</span>
                                </label>
                                <br/>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="gantry_ll" id="gantry_ll" value="Y">
                                    <span class="form-check-sign" style="color:#ffffff;font-weight: normal;">Laser localization light functioning</span>
                                </label>
                                <br/>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="gantry_as" id="gantry_as" value="Y">
                                    <span class="form-check-sign" style="color:#ffffff;font-weight: normal;">Acceptable smoothness of table motion</span>
                                </label>
                                <br/>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="gantry_xo" id="gantry_xo" value="Y">
                                    <span class="form-check-sign" style="color:#ffffff;font-weight: normal;">Xray on indicator functioning</span>
                                </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="h3" style="color:#ffffff">Control Console</div>
                                <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="cc_es" id="cc_es" value="Y">
                                    <span class="form-check-sign" style="color:#ffffff;font-weight: normal;">Exposure switch functioning</span>
                                </label>
                                <br/>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="cc_ps" id="cc_ps" value="Y">
                                    <span class="form-check-sign" style="color:#ffffff;font-weight: normal;">Panel switches/lights/meters working</span>
                                </label>
                                <br/>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="cc_xo" id="cc_xo" value="Y">
                                    <span class="form-check-sign" style="color:#ffffff;font-weight: normal;font-weight: normal;">Xray on indicator functioning</span>
                                </label>
                                <br/>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="cc_wl" id="cc_wl" value="Y">
                                    <span class="form-check-sign" style="color:#ffffff;font-weight: normal;">Warning labels present</span>
                                </label>
                                <br/>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="cc_is" id="cc_is" value="Y">
                                    <span class="form-check-sign" style="color:#ffffff;font-weight: normal;">Intercom system functioning</span>
                                </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="h3" style="color:#ffffff">Other</div>
                                <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="other_pp" id="other_pp" value="Y">
                                    <span class="form-check-sign" style="color:#ffffff;font-weight: normal;">Postings Present</span>
                                </label>
                                <br/>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="other_sr" id="other_sr" value="Y">
                                    <span class="form-check-sign" style="color:#ffffff;font-weight: normal;">Service records maintained/accessible</span>
                                </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" id="download-report" class="btn btn-primary">Complete QC</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
</script>
{% endblock javascripts %}
